#Mon Sep 10 15:07:13 BST 2007
#Reprap properties http://reprap.org/
AxisCount=3
BackColourB(0..1)=0.9
BackColourG(0..1)=0.9
BackColourR(0..1)=0.9
BackFactor=2.0
BaudRate=19200
BoundFactor=3.0
CommsDebug=false
Debug=false
DisplaySimulation=true
Extruder0_NozzleClearTime(s)=-1
Extruder0_MinimumZClearance(mm)=0
Extruder1_MinimumZClearance(mm)=0
Extruder1_NozzleClearTime(s)=-1
Extruder1_ValvePulseTime(ms)=-1
Extruder0_ValvePulseTime(ms)=-1
Extruder0_Address=8
Extruder0_AngleSpeedFactor(0..1)=0.5
Extruder0_AngleSpeedLength(mm)=2.5
Extruder0_Beta(K)=3480
Extruder0_Capacitor(F)=0.0000001
Extruder0_ColourB(0..1)=0.6
Extruder0_ColourG(0..1)=0.3
Extruder0_ColourR(0..1)=0.3
Extruder0_CoolingPeriod(s)=40
Extruder0_ExtrusionDelayForLayer(ms)=1000
Extruder0_ExtrusionDelayForPolygon(ms)=1000
Extruder0_ValveDelayForLayer(ms)=100
Extruder0_ValveDelayForPolygon(ms)=100
Extruder0_ExtrusionHeight(mm)=0.8
Extruder0_ExtrusionInfillWidth(mm)=0.7
Extruder0_ExtrusionOverRun(mm)=2
Extruder0_ValveOverRun(mm)=0.3
Extruder0_ExtrusionSize(mm)=0.7
Extruder0_ExtrusionSpeed(0..255)=200
Extruder0_ExtrusionTemp(C)=110
Extruder0_IncrementedStart=false
Extruder0_InfillOverlap(mm)=0
Extruder0_InfillSpeed(0..1)=1.0
Extruder0_MaterialType(name)=CAPA
Extruder0_MaxSpeed(0..255)=230
Extruder0_NozzleWipeDatumX(mm)=20
Extruder0_NozzleWipeDatumY(mm)=12
Extruder0_NozzleWipeEnabled=false
Extruder0_NozzleWipeFreq=4
Extruder0_NozzleWipeStrokeX(mm)=15
Extruder0_NozzleWipeStrokeY(mm)=15
Extruder1_NozzleWaitTime(s)=10
Extruder0_NozzleWaitTime(s)=10
Extruder0_OffsetX(mm)=0
Extruder0_OffsetY(mm)=0
Extruder0_OffsetZ(mm)=0
Extruder0_OutlineSpeed(0..1)=0.6
Extruder0_RandomStart=false
Extruder0_Reverse(ms)=0
Extruder0_Rz(ohms)=29000
Extruder0_ShortLength(mm)=1.5
Extruder0_ShortSpeed(0..1)=1
Extruder0_XYSpeed(0..255)=230
Extruder0_hb(C)=20
Extruder0_hm(C/pwr)=1.7
Extruder0_t0(0..255)=0
Extruder1_Address=9
Extruder1_AngleSpeedFactor(0..1)=0.5
Extruder1_AngleSpeedLength(mm)=2.5
Extruder1_Beta(K)=3480
Extruder1_Capacitor(F)=0.0000001
Extruder1_ColourB(0..1)=0.3
Extruder1_ColourG(0..1)=0.6
Extruder1_ColourR(0..1)=0.3
Extruder1_CoolingPeriod(s)=10
Extruder1_ExtrusionDelayForLayer(ms)=1000
Extruder1_ExtrusionDelayForPolygon(ms)=1000
Extruder1_ValveDelayForLayer(ms)=1000
Extruder1_ValveDelayForPolygon(ms)=1000
Extruder1_ExtrusionHeight(mm)=0.8
Extruder1_ExtrusionInfillWidth(mm)=0.7
Extruder1_ExtrusionOverRun(mm)=2
Extruder1_ValveOverRun(mm)=0.3
Extruder1_ExtrusionSize(mm)=0.7
Extruder1_ExtrusionSpeed(0..255)=200
Extruder1_ExtrusionTemp(C)=-273
Extruder1_IncrementedStart=false
Extruder1_InfillOverlap(mm)=0
Extruder1_InfillSpeed(0..1)=1.0
Extruder1_MaterialType(name)=PDMS
Extruder1_MaxSpeed(0..255)=230
Extruder1_NozzleWipeDatumX(mm)=20
Extruder1_NozzleWipeDatumY(mm)=12
Extruder1_NozzleWipeEnabled=false
Extruder1_NozzleWipeFreq=4
Extruder1_NozzleWipeStrokeX(mm)=15
Extruder1_NozzleWipeStrokeY(mm)=15
Extruder1_OffsetX(mm)=0
Extruder1_OffsetY(mm)=0
Extruder1_OffsetZ(mm)=0
Extruder1_OutlineSpeed(0..1)=0.6
Extruder1_RandomStart=false
Extruder1_Reverse(ms)=0
Extruder1_Rz(ohms)=29000
Extruder1_ShortLength(mm)=1.5
Extruder1_ShortSpeed(0..1)=1
Extruder1_XYSpeed(0..255)=230
Extruder1_hb(C)=20
Extruder1_hm(C/pwr)=1.7
Extruder1_t0(0..255)=0
FastSpeed(0..255)=200
FrontFactor=0.001
Geometry=nullcartesian
IdleZAxis=true
MachineColourB(0..1)=0.3
MachineColourG(0..1)=0.4
MachineColourR(0..1)=0.3
MouseTranslationFactor=50
MouseZoomFactor=50
MovementSpeedZ(0..255)=210
MovementSpeedZ(0..255)=212
NumberOfExtruders=2
Port(name)=/dev/ttyS0
RadiusFactor=0.7
RememberWindowPosition=false
SelectedColourB(0..1)=0.2
SelectedColourG(0..1)=0.2
SelectedColourR(0..1)=0.6
Subtractive=false
UnselectedColourB(0..1)=0.3
UnselectedColourG(0..1)=0.3
UnselectedColourR(0..1)=0.3
WorkingLocation=reprap-wv.stl
WorkingOffsetX(mm)=-17.3
WorkingOffsetY(mm)=-24.85
WorkingOffsetZ(mm)=-2
WorkingX(mm)=300
WorkingY(mm)=300
WorkingZ(mm)=300
WorldName=RepRap-World
XAxisAddress=2
XAxisScale(steps/mm)=11.4855
XAxisTorque(%)=100
YAxisAddress=3
YAxisScale(steps/mm)=11.4855
YAxisTorque(%)=100
ZAxisAddress=4
ZAxisScale(steps/mm)=320
ZAxisTorque(%)=100
