# Default distribution RepRap parameters
# http://reprap.org/

# User interface settings
WorkingLocation=reprap-wv.stl
WorkingX=300
WorkingY=300
WorkingZ=300
WorkingOffsetX=-17.3
WorkingOffsetY=-24.85
WorkingOffsetZ=-2
WorldName=RepRap-World
FrontF=0.025
RadiusF=0.7
BoundF=3.0
MouseZoomF=50
BackF=2.0
MouseTranslationF=50
# User interface colours
UnselectedColourR=0.3
UnselectedColourG=0.3
UnselectedColourB=0.3
SelectedColourR=0.6
SelectedColourG=0.2
SelectedColourB=0.2
BackColourR=0.9
BackColourG=0.9
BackColourB=0.9
MachineColourR=0.3
MachineColourG=0.4
MachineColourB=0.3

# General settings
Port=/dev/ttyS0
CommsDebug=false
Geometry=nullcartesian

# Motor settings
AxisCount=3
MovementSpeed=230
Axis1Address=2
Axis2Address=3
Axis3Address=4
Axis1Scale=400
Axis2Scale=400
Axis3Scale=400
Axis1Torque=50
Axis2Torque=50
Axis3Torque=50

# Extruder settings
ExtruderCount=1
ExtrusionSpeed=150
ExtrusionTemp=40
ExtrusionSize=0.5
ExtrusionHeight=0.4
Extruder1MaterialType=CAPA
Extruder1Address=8

# The maximum permitted motor speed.  This is useful if driving
# a motor with a voltage beyond it's design limits (eg running
# a 6V motor from the 12V supply).
Extruder1MaxSpeed=255

# The extruder speed setting at which extrusion torque becomes zero
# while extruding (ie the point below which the motor stops).
Extruder1t0=150

# Extruder thermistor characteristics.  If these are unknown, see
# http://reprapdoc.voodoo.co.nz/bin/view/Main/MeasuringThermistorBeta
Extruder1Beta=5000
Extruder1Rz=500000

# Extruder heater characteristics.  This defines an approximate relationship
# between power input and heater temperature:
# temperature = power * hm + hb
# Where power is the heater output setting (0 to 255).
# It can be determined by using the Extruder Heater Profiler tool
# and linear regression.
Extruder1hm=1.1
Extruder1hb=20

# Offset of extruder to accomodate the extruder size, in order to
# get the extruder tip and the desired location.  Without this
# the extruder will most likely be driven through the floor.
Extruder1OffsetX=0
Extruder1OffsetY=0
Extruder1OffsetZ=500

# Period between layers to drive cooling system (in seconds)
CoolingPeriod=0
